$primary: #cdf2fd;
$secondary: #0e2b44;

input {
  color: $secondary;
  &[disabled] {
    opacity: 0.5;
  }
}

.dashboard {
  display: flex;
  min-height: 70vh;
  &__sidebar {
    min-width: 250px;
    display: flex;
    padding-right: 1.5rem;
    flex-direction: column;
    &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
      border-bottom: 1px solid grey;
      &__icon {
        margin: 10px 0;
        img {
          width: 60px;
        }
      }
      &__role {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
      }
    }
    &__nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__list {
        display: flex;
        flex-direction: column;
        &__item {
          &:not(:last-of-type) {
            border-bottom: 1px solid grey;
          }
          &__link {
            text-transform: uppercase;
            padding: 5px;
            display: block;
            &--active {
              background-color: $secondary;
              color: #FFF;
            }
            &__submenu {
              display: flex;
              flex-direction: column;
              margin-left: 5px;
              &__link {
                opacity: 0.7;
                padding: 5px;
                &--active {
                  background-color: $secondary;
                  color: #FFF;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      &__footer-links {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    border-left: 1px solid grey;
    position: relative;
    padding-left: 1.5rem;
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__site-title {
        margin-bottom: 20px;
        font-size: 24px;
      }
      &__site-logo {
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        img {
          width: 100%;
        }
      }
    }
    &__content {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      &__search {
        form {
          display: flex;
        }
        &__button {
          background-color: $secondary;
          color: #FFF;
          padding: 0 20px;
        }
      }
      &__welcome-msg {
        font-size: 40px;
        text-align: center;
      }
      &__details {
        display: flex;
        justify-content: center;
        &__content {
          padding: 20px 40px;
          border-radius: 5px;
          background-color: $primary;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          &__text {
            font-size: 28px;
          }
        }
      }
      &__current-project {
        display: flex;
        border: 2px solid $secondary;
        border-radius: 5px;
        font-size: 28px;
        &__details {
          border-right: 1px solid $secondary;
          display: flex;
          flex-direction: column;
          &__title {
            padding: 20px;
            border-bottom: 1px solid $secondary;
          }
          &__value {
            padding: 20px;
          }
        }
        &__value {
          padding: 20px;
          flex-grow: 1;
          position: relative;
          &__text {
            margin-bottom: 60px;
            width: 100%;
          }
          &__button {
            position: absolute;
            bottom: 2px;
            right: 2px;
            padding: 10px;
            background-color: $secondary;
            color: #FFF;
            border-radius: 5px;
          }
        }
      }
      &__other-projects {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: 2px solid $secondary;
        border-radius: 5px;
        &__title {
          font-size: 28px;
        }
        &__projects {
          display: flex;
          width: 100%;
          gap: 10px;
          &__project {
            padding: 10px 30px;
            background-color: $secondary;
            border-radius: 5px;
            color: #FFF;
            flex-grow: 1;
            font-size: 28px;
            &--disabled {
              opacity: 0.5;
            }
          }
        }
      }
      &__section-title {
        font-size: 40px;
        text-align: center;
      }
      &__users {
        border-collapse: collapse;
        width: 100%;
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        tr:nth-child(even) {
          background-color: $secondary;
        }
      }
      &__add-user-btn {
        width: 100%;
        padding: 10px;
        display: block;
        text-align: center;
        background-color: #295e29;
        transition: .5s;
        color: #FFF;
        &:hover {
          background-color: #388e38;
        }
      }
      &__form {
        padding: 10px;
        border: 2px solid $secondary;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 10px;
        &__representados-list {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          &__datos-representado {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 10px;
            &__num {
              width: 100%;
              font-weight: bold;
            }
          }
        }
        &__label {
          display: flex;
          flex-direction: column;
          width: calc(50% - 5px);
        }
        &__separator {
          width: 100%;
          height: 1px;
          background-color: $secondary;
          margin: 5px 0;
        }
        &__full-width {
          width: 100%;
        }
        &__btn {
          width: 100%;
          padding: 10px;
          background-color: $secondary;
          border-radius: 5px;
          color: #FFF;
          align-self: flex-start;
        }
        &__add-another-student {
          padding: 10px;
          background-color: $secondary;
          border-radius: 5px;
          color: #FFF;
        }
      }
      &__links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        gap: 10px;
        &__link {
          padding: 10px;
          font-size: 24px;
          background-color: $secondary;
          color: #FFF;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 50px 20px;
          justify-content: center;
          text-align: center;
          gap: 20px;
          transition: .5s;
          &__icon {
            width: 50px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(154deg) brightness(118%) contrast(95%);
          }
          &:hover {
            background-color: #071d2f;
          }
        }
      }
      &__actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        &__action {
          padding: 50px 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          transition: .5s;
          &__icon {
            width: 30px;
          }
          &--add-user {
            background-color: #90d090;
            &:hover {
              background-color: #65be65;
            }
          }
          &--view-users {
            background-color: aliceblue;
            &:hover {
              background-color: #b1cae0;
            }
          }
          &--delete-user {
            background-color: #ffcece;
            &:hover {
              background-color: #ffaeae;
            }
          }
          &--enable-user {
            background-color: #ffe6b8;
            &:hover {
              background-color: #ffd280;
            }
          }
        }
      }
    }
    &__footer {
      align-self: flex-end;
    }
  }
}


.homepage {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
  }
  &__logo {
    width: 100%;
    max-width: 28rem;
    position: relative;
    z-index: 1;
    &__container {
      width: 100%;
      padding: 20px;
      background-color: #FFF;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &__title {
        font-size: 36px;
        text-align: center;
      }
    }
  }
  &__login {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    z-index: 1;
  }
}
.remember_me {
  display: none;
}
